---
layout: page
title: botMEDIA
weight: 3
exhibit_data_URLs_test:
  - /js/schema.js
  - https://spreadsheets.google.com/feeds/list/1JA6m8kky86NJaArUMs1KMLeIEFMtY_ZL9uuCV-30GTU/1/public/values?alt=json-in-script
  - https://spreadsheets.google.com/feeds/list/1JA6m8kky86NJaArUMs1KMLeIEFMtY_ZL9uuCV-30GTU/2/public/values?alt=json-in-script
  - https://spreadsheets.google.com/feeds/list/1JA6m8kky86NJaArUMs1KMLeIEFMtY_ZL9uuCV-30GTU/3/public/values?alt=json-in-script
  - https://spreadsheets.google.com/feeds/list/1JA6m8kky86NJaArUMs1KMLeIEFMtY_ZL9uuCV-30GTU/4/public/values?alt=json-in-script
exhibit_data_URLs:
  - /js/schema.js
  - https://spreadsheets.google.com/feeds/list/1vleb6Y37ctkjlWbCiTemABgpit83eqW1FT8HEwc0l9I/1/public/values?alt=json-in-script
  - https://spreadsheets.google.com/feeds/list/1vleb6Y37ctkjlWbCiTemABgpit83eqW1FT8HEwc0l9I/2/public/values?alt=json-in-script
---

  {% include exhibit-bot.html %}

<!-- 
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->

