<div data-ex-role="exhibit-collection" id="bots" data-ex-item-types="bot"></div>
<div data-ex-role="exhibit-collection" id="botally" data-ex-item-types="botally"></div>
<div data-ex-role="exhibit-collection" id="botmedia" data-ex-item-types="botmedia"></div>
<div data-ex-role="exhibit-collection" id="botmaterials" data-ex-item-types="botmaterials"></div>

<div id="top-panels">

<!-- 
	<table width="100%">
		<tr>
			<td> 
			<div data-ex-role="facet" data-ex-facet-class="NumericRange" data-ex-expression=".followers_count" data-ex-paginate="true" data-ex-interval="250" data-ex-facet-label="Number of Followers">
			</div>
			</td>
			<td> 
			<div data-ex-role="facet" data-ex-facet-class="NumericRange" data-ex-expression=".statuses_count" data-ex-interval="1000" data-ex-facet-label="Number of Tweets">
			</div>
			</td>
		</tr>
	</table>
 -->
	<div>Filter results using the search box below:</div>
	<div class="searchbox" data-ex-role="facet" data-ex-collection-i-d="{{ page.title | downcase }}" data-ex-facet-class="TextSearch" data-ex-style="font-size: 1rem;">
	</div>
</div>

<div data-ex-role="viewPanel">

	<div data-ex-role="lens" style="display: none; padding-left: 0;">
		<div data-ex-if-exists=".profile_image_url" class="bot-thumbnail-img" style="width: 3rem; float: left;">
			<img class="bot-thumbnail-img" data-ex-src-content=".profile_image_url" alt="portrait" />
		</div>
		<div class="handle">
			<h2 style="margin-top: .2rem;"><a data-ex-href-subcontent="https://twitter.com/{&#123;.label}}" target="_blank" data-ex-content="concat('@', .label)"></a><span data-ex-if-exists=".name"> (<span data-ex-content=".name"></span>)</span></h2>
		</div>
		<div data-ex-if-exists=".created-by" class="created-by" style="clear: left;">
			A <span data-ex-content=".type"></span> by <span data-ex-content=".created-by"></span>.
		</div>
		<div data-ex-if-exists=".description" class="description" style="clear: left;">
			<blockquote data-ex-content=".description"></blockquote>
		</div>
<!--		<div data-ex-if-exists=".recentTweet" class="recentTweet">
			<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Nearly One-third of Consumers Would Give Up Their Car Before Their Smartphone <a href="https://t.co/BVU0Kaalh3">https://t.co/BVU0Kaalh3</a></p>&mdash; Slashdot (@slashdot) <a href="https://twitter.com/slashdot/status/656716147438411776">October 21, 2015</a></blockquote>
		</div> -->
		<div data-ex-if-exists=".tweetableDescription" style="font-style: italic;">
			<span data-ex-content=".tweetableDescription"></span>
			<!-- Getting close… <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text="I just looked up a bot in botDB!" data-hashtags="botDB">Tweet</a> -->
		</div>
		<div style="padding:.5rem; clear: both; text-align: center;">
			🤖
		</div>
	</div>
	<div data-ex-role="lens" data-ex-item-types="botally" style="display: none; padding-left: 0;">
		<div class="handle">
			<h2 style="margin-top: .2rem;"><a data-ex-href-subcontent="https://twitter.com/{&#123;.label}}" target="_blank" data-ex-content="concat('@', .label)"></a>, #botALLY</h2>
<span data-ex-content="!created-by"><ul><li data-ex-content="value"></li></ul></span>
		</div>
	</div>
	<div data-ex-role="lens" data-ex-item-types="botmedia" style="display: none; padding-left: 0;">
		<div class="handle">
			<h2 style="margin-top: .2rem;"><a data-ex-href-content=".label" target="_blank" data-ex-content=".label"></a></h2>
		</div>
	</div>
	<div data-ex-role="lens" data-ex-item-types="botmaterials" style="display: none; padding-left: 0;">
		<div class="handle">
			<h2 style="margin-top: .2rem;"><a data-ex-href-content=".label" target="_blank" data-ex-content=".label"></a></h2>
		</div>
	</div>
<!-- 
	<div data-ex-role="lens" style="display: none; padding-left: 0;">
			<div style="padding:.5rem; clear: both; text-align: center;">
				🤖  
			</div>
	</div>
 -->
	<div data-ex-role="view" data-ex-collection-i-d="{{ page.title | downcase }}" data-ex-view-class="Tabular" data-ex-label="List View" data-ex-columns=".name, value, .created-by, .account_created_at" data-ex-column-labels="Who,Role,Where?,Tweet" style="display: block; overflow: scroll;">
	   <table style="display: none;"> 
			<tr> 
				<td>
				
					<div data-ex-select=".type">
					   <div data-ex-case="bots">the .type = bots case</div>
					   <div data-ex-case="botally">the .type = botally case</div>
					   <div data-ex-case="botmedia">the .type = botmedia case</div>
					   <div data-ex-case="botmaterials">the .type = botmaterials case</div>
					   <div>the catchall case</div>
					</div>
					<div 	.type"></div>

<!-- 
					<span data-ex-select=".type">
					  <span data-ex-case="botmedia">media</span>
					  <span data-ex-case="bots">bot</span>
					  <span data-ex-content=".offering" class="no-offering">god</span>
					</span>
 -->
<!-- 
					<span data-ex-if="contains(.type, 'botmedia')">
					  <span class="hasfinal"> media</span>
					  <span></span>
					</span>
 -->
				</td> 
				<td><span data-ex-content="value"></span></td> 
				<td><span data-ex-content=".created-by"></span></td> 
				<td><span data-ex-content=".account_created_at"></span></td> 
			</tr> 
		</table>
	</div>
	<div data-ex-role="view" data-ex-collection-i-d="{{ page.title | downcase }}" data-ex-view-class="Tile" data-ex-label="Detailed View" data-ex-orders=".label" data-ex-possible-orders=".label, .twitter_id, .followers_count, .friends_count, .statuses_count, .last_status_created_at, .account_created_at">
	</div>
	<div data-ex-role="view" data-ex-collection-i-d="{{ page.title | downcase }}" data-ex-show-all="true" data-ex-view-class="Thumbnail" data-ex-orders=".label" data-ex-possible-orders=".label, .twitter_id, .followers_count, .friends_count, .statuses_count, .last_status_created_at, .account_created_at">
		<div data-ex-role="lens" class="bot-thumbnail" style="display:none;">
			<a data-ex-href-content="value"><img data-ex-src-content=".profile_image_url" /></a>
		</div>
	</div>

<!-- 
		<div data-ex-role="view"
		  data-ex-view-class="Timeline"
		  data-ex-start=".account_created_at"
		  data-ex-bubble-width="150"
		  data-ex-bubble-height="150">
		 <div data-ex-role="lens" class="nobelist-timeline-lens" style="display: none;">
		   <div><span data-ex-content=".label"></span></div>
		   <div>
			<span data-ex-content=".label" class="discipline"></span>
		   </div>
		 </div>
		 </div>
-->
</div>