<!-- bots tab of botsDB Google Sheet -->
	<link rel="exhibit-data" type="application/jsonp" href="https://spreadsheets.google.com/feeds/list/1vleb6Y37ctkjlWbCiTemABgpit83eqW1FT8HEwc0l9I/1/public/values?alt=json-in-script" data-ex-converter="googleSpreadsheets" />
<!-- botMakers tab of botsDB Google Sheet -->
	<link rel="exhibit-data" type="application/jsonp" href="https://spreadsheets.google.com/feeds/list/1vleb6Y37ctkjlWbCiTemABgpit83eqW1FT8HEwc0l9I/2/public/values?alt=json-in-script" data-ex-converter="googleSpreadsheets" />
	<link href="/js/schema.js" type="application/json" />
<!-- 		<link href="/js/schema.js" type="application/json" rel="exhibit-data" /> -->