<div id="main-content">
	<div id="title-panel">
		<h1>
			botsDB
		</h1>
<!--working tweet embeds
 		<p><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Twitterbot bulletin board <a href="https://twitter.com/hashtag/botALLY?src=hash">#botALLY</a> <a href="https://twitter.com/hashtag/edtech?src=hash">#edtech</a> <a href="https://twitter.com/hashtag/kidscancode?src=hash">#kidscancode</a> <a href="http://t.co/tc9Hhr0683">http://t.co/tc9Hhr0683</a> <a href="http://t.co/ydru7UnRf2">pic.twitter.com/ydru7UnRf2</a></p>&mdash; Justin Riley (@20hz20khz) <a href="https://twitter.com/20hz20khz/status/648201676986404865">September 27, 2015</a></blockquote></p>
		<p><blockquote class="twitter-tweet" lang="en"><a href="https://twitter.com/20hz20khz/status/648201676986404865"></a></blockquote></p>
		<p><blockquote class="twitter-tweet" lang="en"><a href="https://twitter.com/Veeren_Jubbal/status/649061449646653440"></a></blockquote></p>-->
	</div>
	<div id="top-panels">
		<table width="100%">
			<tr>
				<td> 
				<div data-ex-role="facet" data-ex-expression=".type" data-ex-facet-label="Type">
				</div>
				</td>
				<td> 
				<div data-ex-role="facet" data-ex-facet-class="NumericRange" data-ex-expression=".followers_count" data-ex-paginate="true" data-ex-interval="250" data-ex-facet-label="Number of Followers">
				</div>
				</td>
				<td> 
				<div data-ex-role="facet" data-ex-facet-class="NumericRange" data-ex-expression=".statuses_count" data-ex-interval="1000" data-ex-facet-label="Number of Tweets">
				</div>
				</td>
			</tr>
		</table>
		<div data-ex-role="facet" data-ex-facet-class="TextSearch">
		</div>
	</div>
	<div data-ex-role="viewPanel">

<!--     <div data-ex-role="collection" data-ex-item-types="Item"></div> -->
		            <table data-ex-role="lens" class="botmaker" style="display: none;"><tr>
                <td><img class="bot-thumbnail-img" data-ex-src-content=".profile_image_url" alt="portrait" /></td>
                <td>
                    @<a data-ex-href-content=".label" data-ex-content=".label" class="name"></a>
                    <div data-ex-if-exists=".description" class="description">
                        <span data-ex-content=".description"></span>
                    </div>
                </td>
            </tr></table>

		<div data-ex-role="view" data-ex-label="List" data-ex-orders=".label" data-ex-possible-orders=".label, .twitter_id, .followers_count, .friends_count, .statuses_count, .last_status_created_at, .account_created_at" data-ex-show-all="false">

<!-- From http://nielsmayer.com/xwiki/bin/get/Exhibit/pods -->
		</div>
		<div data-ex-role="view" data-ex-view-class="Thumbnail" data-ex-show-all="true" data-ex-orders=".label" data-ex-possible-orders=".label, .twitter_id, .followers_count, .friends_count, .statuses_count, .last_status_created_at, .account_created_at">
			<div data-ex-role="lens" class="bot-thumbnail" style="display:none;">
				<img data-ex-src-content=".profile_image_url" /><a data-ex-href-subcontent="https://twitter.com/{{.label}}"> 
				<div>
					@<span data-ex-content=".label"></span></a> 
				</div>
			</div>
		</div>
		<div data-ex-role="view" data-ex-view-class="Tabular" data-ex-columns=".label, .twitter_id, .followers_count, .friends_count, .statuses_count, .last_status_created_at, .account_created_at" data-ex-column-labels="Who,Role,Where?,Tweet">
		</div>

<!-- 
			<div data-ex-role="view"
			  data-ex-view-class="Timeline"
			  data-ex-start=".account_created_at"
			  data-ex-bubble-width="150"
			  data-ex-bubble-height="150">
			 <div data-ex-role="lens" class="nobelist-timeline-lens" style="display: none;">
			   <div><span data-ex-content=".label"></span></div>
			   <div>
				<span data-ex-content=".label" class="discipline"></span>
			   </div>
			 </div>
			 </div>
 -->
	</div>
<!-- 

                            <div data-ex-role="view"
                data-ex-label="Details"
                data-ex-view-class="Tile"
                data-ex-show-all="true">
            </div>
 -->
</div>