<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="description" content="{{ site.tagline }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "about" %}
      🤖 {{ site.title }} 😺
    {% else %}
      🤖 {{ page.title }} 😺
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  
  <!-- Scripts -->

{% if page.exhibit_data %}
  <link rel="exhibit-extension" href="http://api.simile-widgets.org/exhibit/HEAD/extensions/time/time-extension.js"/>
	<link rel="exhibit-data" type="application/json" href="{{ site.baseurl }}/js/schema.js" />
	{% if page.exhibit_data contains 'test' %}
		{% for item in site.exhibit_data_test %}
				{% assign first_character = item | truncate: 1, '' == '/' %}
				<link rel="exhibit-data" type="application/json{% if first_character != '/' %}p{% endif %}" href="{% if first_character == '/' %}{{ site.baseurl }}{% endif %}{{ item }}"{% if item contains 'google.com' %} data-ex-converter="googleSpreadsheets"{% endif %} />
		{% endfor %}
	{% elsif page.exhibit_data contains 'prod' %}
		{% for item in site..exhibit_data_prod %}
			{% assign first_character = item | truncate: 1, '' == '/' %}
			<link rel="exhibit-data" type="application/json{% if first_character != '/' %}p{% endif %}" href="{% if first_character == '/' %}{{ site.baseurl }}{% endif %}{{ item }}"{% if item contains 'google.com' %} data-ex-converter="googleSpreadsheets"{% endif %} />
		{% endfor %}
	{% endif %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">

		// This script is indebted to numerous other people and sources, including but not limited to:
		//
		// https://git.wikimedia.org/blob/mediawiki%2Fextensions%2FCargo/5d58912d6969cadece74c89b7ac66450f692e6f3/libs%2Fext.cargo.exhibit.js
		// http://stackoverflow.com/a/21903119
		// http://stackoverflow.com/a/21152762
		// The #botALLY Slack crew, especially @coledubs - https://docs.google.com/forms/d/13OMkyF7U1dcRPU4lsZC-gWcMT_-lN33Ql0aV2L-K-iA/viewform?c=0&w=1
		// The SIMILE Widgets mailing list, especially David Karger - https://groups.google.com/forum/#!forum/simile-widgets
		//
		// The hamfisted cobbling together of all the above and any inefficiencies or errors therein are my own… :)

		window.Exhibit_parameters="?autoCreate=false&persist=false";

		var ex_url = "//api.simile-widgets.org/exhibit/HEAD/exhibit-api.js";

		var Exhibit_urlPrefix = "//api.simile-widgets.org/exhibit/HEAD/";
		var Exhibit_TimeExtension_urlPrefix = Exhibit_urlPrefix + "extensions/time/";
		var Exhibit_MapExtension_urlPrefix = Exhibit_urlPrefix + "extensions/map/";

		var qd = {};
		location.search.substr(1).split("&").forEach(function(item) {
			var s = item.split("="),
				k = s[0],
				v = s[1] && decodeURIComponent(s[1]);
			(k in qd) ? qd[k].push(v) : qd[k] = [v]
		});
		// for query string ?foo=graham, qd.foo[0] will return string "graham"
 
		jQuery.ajax({
			url: ex_url,
			dataType: "script",
			cache: true
		});

		jQuery("#loading_exhibit").show();
		jQuery("#loaded_exhibit").hide();
		// set style="display: none" on starting-hidden elements
 
		jQuery(document).on("scriptsLoaded.exhibit", function(evt) {
			jQuery("#loading_exhibit").hide();
			jQuery("#loaded_exhibit").show();
			if (qd.hasOwnProperty("") != true) {
				var options = ["discipline", "relationship", "shared", "deceased"]; //
				for ( var i in options ) {
					var option = options[i];
					if (option in qd) {
						document.getElementById(option + "-facet").setAttribute("data-ex-selection", qd[option][0]);
					}
				}
			}
		});
 
		jQuery(document).on("staticComponentsRegistered.exhibit", function(evt) {
			Exhibit.autoCreate();
		});
 
		jQuery(document).on("onItemShow.exhibit staticComponentsRegistered.exhibit exhibitConfigured.exhibit onItemsChanged.exhibit onAfterViewPanelSwitch.exhibit", function(evt) {
			setTimeout(function(){twttr.widgets.load()}, 1); // works!
		});
	</script>



<!-- 
	<script src="//api.simile-widgets.org/exhibit/HEAD/exhibit-api.js?autoCreate=true" type="text/javascript"></script>

	
	
	<script>
		onLoad = function () {
			console.log("onLoad got called correctly!");
			var s, f, fDone;
			fDone = function() {
				window.exhibit = Exhibit.create();
				window.exhibit.configureFromDOM();
			};
			console.log("Made it to try block!");
			try {
				s = Exhibit.getAttribute(document.body, "ondataload");
				if (s !== null && typeof s === "string" && s.length > 0) {
					f = eval(s);
					if (typeof f === "function") {
						fDone = f;
					}
				}
			} catch (e) {
				Exhibit.Debug.warn(Exhibit._("%general.error.dataloadExecution"));
				Exhibit.Debug.warn(e);
			};
			console.log("Made it through try block!");
			Exhibit.jQuery(document.body).one("dataload.exhibit", fDone);
			window.database = Exhibit.Database.create();
			window.database.loadLinks();
			console.log("Made it to the end of onLoad!");
		};
	</script>
 -->
{% endif %}


	
<style>

.bot-thumbnail img {
    width: 48px;
    height: 48px;
    float: left;
}

.exhibit-toolboxWidget-popup.screen {
    position: relative;
    top: 0;
    right: 0;
}

ol {
    list-style: none;
    padding-left: 0;
}

.exhibit-action span img {
    display: inline;
    position: relative;
    top: .2rem;
}

.exhibit-facet-value-checkbox img,.exhibit-facet-header-filterControl img {
    margin: .2rem;
}

.exhibit-collectionSummaryWidget-count {
    font-size: 100%/* !important*/;
    font-weight: 700;
}

.bot-thumbnail {
	margin: 0;
    border: 0;
    padding: 0;
}

.exhibit-thumbnailView-itemContainer {
    width: 48px;
    height: 48px;
}

.exhibit-toolboxWidget-button,.exhibit-bookmarkWidget-button {
    float: right;
}

.exhibit-text-facet input {
    font-size: 100%;
}

.searchbox,.exhibit-viewPanel-viewSelection {
    padding-bottom: 1rem;
}

.exhibit img {
    display: inline;
    margin: 0;
}

.twitter-tweet {
    margin: auto;
}

blockquote {
	padding-right: 1.25rem;
}

</style>     
</head>